@page "{id:int}"
@model ComicGallery.Pages.Manage.DeleteUserModel
@{
    ViewData["Title"] = "确认删除";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <form method="post">
                <div class="card-body">
                    <h4>确认删除用户: @Model.UserToDelete.UserName ?</h4>
                    <input type="checkbox" name="Confirm" checked="checked" value="true" hidden />
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-danger">确认</button>
                        <a class="btn btn-default" asp-page="/Manage/Users">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
